<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Auth</title>
  <!-- My own i18n script -->
  <script src="/i18n.js"></script>
  <script src="https://unpkg.com/@shopify/app-bridge"></script>
</head>
<body>
    <script>
        var AppBridge = window['app-bridge'];
        var createApp = AppBridge.createApp;
        var actions = AppBridge.actions;
        var Redirect = actions.Redirect;
        
        const apiKey = '<%= api_key %>';
        const redirectUri = '<%= callback %>';
        const permissionUrl =
          '/oauth/authorize?client_id=' +
          apiKey +
          '&scope=<%= api_permission %>&redirect_uri=' +
          redirectUri;

        const shopOrigin = '<%= shop %>';

        //alert(permissionUrl);
        
        // If the current window is the 'parent', change the URL by setting location.href
        if (window.top == window.self) {
          window.location.assign('https://' + shopOrigin + '/admin' + permissionUrl);
        
          // If the current window is the 'child', change the parent's URL with Shopify App Bridge's Redirect action
        } else {
          const app = createApp({
            apiKey: apiKey,
            shopOrigin: shopOrigin
          });
        
          Redirect.create(app).dispatch(Redirect.Action.ADMIN_PATH, permissionUrl);
        }
     </script>
</body>
</html>